.subtask-comment {
  $comment_background: #eeecec;
  background: $comment_background;

  display: block;
  cursor: pointer;
  border-radius: 1.5em;
  padding: 0.2em 1em;
  margin: 0.3em 0;

  &.active {
    background: darken($comment_background, 12%) !important;
    color: #cd0000;
  }

  .columns > div {
    margin-top: auto;
    margin-bottom: auto;
  }

  &.moving {
    background: #4be7d5 !important;
  }
}

.grade-subtask {
  margin-bottom: 1em;

  padding-left: 1em;
  border-left: #ffc636 1em solid;

  &.done {
    border-left: #3eaa8d 1em solid;
  }
}

.feedback-textarea {
  cursor: text !important;
}

.total-points > div {
  margin-top: auto;
  margin-bottom: auto;
}

.subtask-bonus {
  color: #db8221;
  opacity: 0.9;
}

@media (min-width: 841px) {
  .grade-feedback-column {
    width: 31vw;

    position: absolute;

    right: 1em;

    &.stick-to-top {
      position: fixed;
      top: 3em;
      bottom: 1em;
    }
  }
}

.main-content {
  margin-bottom: 1.8rem;
}

.footer {
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 20em;
  text-align: center;
  font-size: 0.4rem;
}

.add-comment, .move-comment {
  margin: -0.8em 0;
  padding-top: -4em !important;
  line-height: 1.1em !important;
  font-size: 0.3rem !important;
  height: 2em !important;
}